/* 
@Autor: Cristopher Camacho Durán
@App: Analizador de comentario
@File: style_modal.css
@Version: v1.0.0
@Fecha: 13/09/2024
@Licencia: MIT
@GIT Repository: 

Descripción:
Hoja de estilo para ventanas de tipo modal
*/

.transparent{
    background-color: #000a;
    margin: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    display: none;
}

.modal{
    width: 500px;
    height: 400px;
    background-color: #DF9F00;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.inactive{
    display: none;
}

.active{
    display: block;
}